.choices {
    $self: &;
    margin-bottom: 0;

    &__placeholder {
        transition: opacity 0.3s;
        color: $input-placeholder-color;
        font-weight: $input-placeholder-font-weight;
        opacity: 0.5;
    }

    &[data-type="select-multiple"] {
        &.is-open {
            #{$self}__inner {
                #{$self}__list--multiple {
                    display: inline;
                }
            }
        }

        #{ $self }__button {
            color: $color-info;
        }
    }

    &[data-type="select-one"] {
        #{$self}__inner {
            padding: $input-padding;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border: $input-border-width solid $input-border-color;
        box-shadow: none;
        border-radius: $base-border-radius;
        width: 100%;
        // min-height: initial;
        min-height: rem(52);
        background-color: $color-white;
        color: $color-default-text;
        overflow: visible;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: rem(14);
        padding: $input-padding;
        line-height: 1.35rem;

        &.is-focused {
            border-color: $input-focus-border-color;
        }
    }

    &__input {
        background-color: $color-transparent;
        margin-bottom: 0;
    }

    &__list {
        border-color: $input-border-color !important;

        #{ $self }__item {
            &--selectable {
                padding-right: 10px !important;
            }
        }

        &--dropdown {
            border-color: $input-border-color !important;
        }

        &--single {
            padding: 0;
        }

        &--multiple {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            height: 100%;

            .choices__item {
                border-radius: rem(5);
                background-color: rgba($color: $color-info, $alpha: .1);
                border-color: transparent;
                font-family: $base-font-family;
                font-weight: $font-weight-normal;
                font-size: $text-font-size;
                color: $color-default-text;
                transition: background 300ms ease-in-out;

                &:hover {
                    background-color: rgba($color: $color-info, $alpha: .3);
                }

                &:focus {
                    background-color: rgba($color: $color-info, $alpha: .3);
                }

                &.is-highlighted {
                    background-color: rgba($color: $color-info, $alpha: .3);
                }
            }
        }
    }


    &.is-open {
        z-index: 3;

        #{ $self }__inner {
            border-radius: $base-border-radius;
            border-color: $input-border-color;
            color: $color-default-text;

            &::placeholder {
                transition: opacity 0.3s;
                color: $input-placeholder-color;
                font-weight: $input-placeholder-font-weight;
                opacity: 0.5;
            }

            &:focus {
                border-color: $input-focus-border-color;
                outline: none;

                &::placeholder {
                    opacity: 0.2;
                }
            }

            &.is-disabled,
            &:disabled {
                border-color: $input-disabled-border-color;
                background-color: $input-disabled-background-color;
                color: $input-disabled-color;
                cursor: not-allowed;
            }
        }
    }

    &.is-focused {
        border-color: $input-focus-border-color;
    }
}

.c-choice {
    $self: &;
    margin: 0;

    &__input + &__label--batch {
        &:before {
            margin: 0;
        }
    }

    &__input + &__label {
        &:before {
            top: initial;
            width: rem(20);
            height: rem(20);
            line-height: rem(18);
        }
    }

    &--checkbox {
        .c-field__label {
            margin-bottom: 0;
            font-weight: $font-weight-normal;
        }

        #{ $self }__input:checked + #{ $self }__label:checked  {
            border-color: $color-secondary;
            background-color: $color-secondary;
            font-family: 'Font Awesome 5 Pro';
            font-size: rem(14);
            content: "\f00c";
        }
    }
}

.c-choice-wrapper {
    &--small {
        .choices__inner {
            min-height: 39px;
        }
    }
}
