.c-field {
    $self: &;

    &__label {
        flex-basis: auto;
    }

    &__message {
        line-height: rem(16);
    }

    &--xsmall {
        width: 150px;
    }

    &--small {
        width: 200px;
    }

    &--medium {
        width: 250px;
    }

    &--filters {
        #{ $self }__label {
            color: $grey-700;
        }
    }
}
