.c-toolbar {
    &__row {
        display: flex;
        width: 100%;
    }

    &--column {
        flex-direction: column;
    }

    &--caption {
        border-radius: 4px 4px 0 0;
        border: 1px solid $grey-300;
        border-bottom: 0;
    }

    .choices__inner,
    .c-input {
        max-height: rem(39);
        min-height: initial;
        padding: $btn-padding;
    }

    .choices[data-type="select-one"] .choices__inner {
        padding: $btn-padding;
    }
}
