// @use "@fontsource/ibm-plex-sans/scss/mixins" as ibmPlexSans;
@use "@fontsource/ibm-plex-sans/scss/mixins" as ibmPlexSans;

$weights: 300, 400, 500, 600, 700;
@each $weight in $weights {
   @include ibmPlexSans.fontFaceCustom(
      $weight: $weight,
      $display: swap,
      $woff2Path: "../fonts/ibm-plex-sans-latin-#{$weight}-normal.woff2",
      $woffPath: "../fonts/ibm-plex-sans/files/ibm-plex-sans-latin-#{$weight}-normal.woff",
   );
}
