@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-breakpoint' as *;

.l-form {

    &__wrapper-row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &--xsmall {
            width: calc(22% - 5px);
        }

        &--small {
            width: calc(33% - 20px);
        }

        &--medium {
            @include media-breakpoint(md) {
                width: calc(50% - 10px);
            }
        }

        &--long {
            @include media-breakpoint(md) {
                width: calc(76% - 10px);
            }
        }

        &--image {
            width: auto;
        }
    }

    &__multi-column {
        width: 100%;
        column-count: 3;
    }
}

.l-two-columns {
    display: flex;
    flex-direction: column;

    @include media-breakpoint(md) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__column {
        width: 100%;

        @include media-breakpoint(md) {
            width: 50%;
        }
    }
}

.l-three-columns {
    display: grid;

    @include media-breakpoint(md) {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        column-gap: 20px;
    }
}

.l-flex-order {
    display: flex;
    flex-direction: column;

    @include media-breakpoint(md) {

        section:nth-child(1n) {
            order: 2;
        }

        section:nth-child(2n) {
            order: 1;
        }
    }
}

.l-form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 16px;
    width: 100%;
    max-width: 860px;
    margin: auto;

    > .l-form__item {
        grid-column: span 4;
        margin-bottom: 0;

        &--xsmall {
            grid-column: span 1;
            width: 100%;
        }

        &--small {
            grid-column: span 2;
            width: 100%;
        }

        &--medium {
            grid-column: span 3;
            width: 100%;
        }
    }
}
