@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

.u-font-normal {
    font-weight: var(--font-weight-normal);
}

.u-font-medium {
    font-weight: var(--font-weight-medium);
}

.u-font-semibold{
    font-weight: var(--font-weight-semibold);
}

.u-font-bold {
    font-weight: var(--font-weight-bold);
}

.u-text-small {
    font-size: .688rem;
}

.u-text-medium {
    font-size: .813rem;
}

.u-text-color-white {
    color: var(--white);
}

.dataTables_info {
    margin-top: 1.25rem;
    margin-bottom: .125rem;
    color: var(--grey-700);
    font-size: var(--text-small-font-size);
}
