//* ==========================================================================
//   #CLEARFIX
// ========================================================================== */

//
// Clearfix
// Clear floating elements
//

@mixin clearfix {

    &::after {
        content: '' !important;
        display: table !important;
        clear: both !important;
    }
}
