{% extends('@WSCore/cms/base.html.twig') %}

{% page_configuration {
    'title': '404',
} %}

{% set bodyClass = 'o-page--center' %}

{% block body %}
    <div class="o-page__card">
        <div class="c-card u-mb-small">
            <header class="c-card__header u-text-center u-pt-large">
                <span class="c-card__icon">
                    <i class="fa fa-unlink"></i>
                </span>
                <h1 class="u-text-big u-mb-zero">
                    404 <em class="u-block u-text-mute u-text-large">{{ 'error_page.404.title'|trans({}, 'ws_cms') }}</em>
                </h1>
            </header>
            <div class="c-card__body">
                <h2 class="u-h5 u-text-center u-mb-medium">
                    {{ 'error_page.404.description'|trans({}, 'ws_cms') }}
                </h2>
            </div>
        </div>

        <div class="o-line u-justify-center">
            <a class="u-text-mute" href="{{ path('ws_dashboard') }}">
                <i class="fa fa-long-arrow-left u-mr-xsmall"></i>{{ 'error_page.go_back'|trans({}, 'ws_cms') }}
            </a>
        </div>
    </div>
{% endblock %}
