@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

.c-footer {
    width: 100%;
    margin: rem(50) auto;
    padding: 0 rem(30) rem(50);
}

.c-footer__wrapper {
    padding-top: rem(30);
    border-top: 1px solid $border-color;
    color: $color-default-text;
    font-size: rem(12);
    text-align: right;
}

.c-footer__link {
    color: $color-default-text;
    font-weight: $font-weight-semibold;
}
