@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

/* ==========================================================================
   #GRAPH CARD
   ========================================================================== */

.c-graph-card {
    overflow: hidden;
    margin: 0 0 var(--spacer);
    border: var(--base-border-width) solid var(--base-border-color);
    border-radius: var(--base-border-radius);
    background-color: var(--base-background-color);
}

.c-graph-card__content {
    padding: var(--spacer) var(--spacer) 0;
}

.c-graph-card__title {
    margin: 0;
    font-size: var(--h5-font-size);
}

.c-graph-card__date {
    margin: 0 0 var(--spacer-xsmall);
    color: var(--grey-800);
    font-size: var(--text-small-font-size);
}

.c-graph-card__number {
    margin: 0;
    color: var(--heading-color);
    font-weight: var(--font-weight-light);
    font-size: 2.5rem;
}

.c-graph-card__status {
    margin: 0;
    color: var(--grey-800);
    font-size: var(--text-font-size);
}

.c-graph-card__chart {
    position: relative;
    margin: 0;
    padding: var(--spacer);
}

.c-graph-card__footer {
    height: 100%;
    padding: var(--spacer-small) var(--spacer);
    border-top: var(--base-border-color) solid var(--base-border-width);
    background-color: var(secondary-background-color);
}




