@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-choice' as *;
@use '../0-settings/_settings-inputs' as *;
@use '../1-tools/_tools-mixin-rem' as *;

/* stylelint-disable */

.choices {
    $self: &;
    --choices-color: var(--color-primary);
    margin-bottom: 0;

    &__placeholder {
        color: var(--input-placeholder-color);
        font-weight: var(--input-placeholder-font-weight);
        opacity: .7;
        transition: opacity .3s;
    }

    &[data-type='select-multiple'] {

        &.is-open {
            #{$self}__inner {
                #{$self}__list--multiple {
                    display: inline;
                }
            }
        }

        #{ $self }__button {
            color: var(--choices-color);
        }

        #{ $self }__inner {
            align-items: flex-start;
            overflow: scroll;
        }
    }

    &[data-type*=text],
    &[data-type*=select-multiple] {
        #{ $self }__button {
            border-left: 1px solid var(--choices-color);
            color: var(--choices-color);
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
        }
    }

    &[data-type='select-one'] {
        #{$self}__inner {
            padding: var(--input-padding);
        }
    }

    &__inner {
        overflow: visible;
        box-sizing: border-box;
        width: 100%;
        min-height: 3.625rem;
        border: var(--input-border-width) solid var(--input-border-color);
        border-radius: var(--base-border-radius-s);
        background-color: var(--white);
        color: var(--color-default-text);
        box-shadow: none;
        font-size: var(--input-font-size);
        line-height: var(--base-line-height);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &.is-focused {
            border-color: var(--input-focus-border-color);
        }

        input.choices__input.choices__input--cloned {
            box-sizing: content-box;
            padding: 0 10px;
        }
    }

    &__input {
        margin-bottom: 0;
        background-color: var(--color-transparent);
        line-height: 44px;
    }

    &__list {
        border-color: var(--input-border-color) !important;

        #{ $self }__item {

            &--selectable {
                padding-right: 10px !important;
            }
        }

        &--dropdown {
            border-color: var(--input-border-color) !important;
        }

        &--single {
            padding: 0;
        }

        &--multiple {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 100%;
            gap: var(--content-spacing-s);

            .choices__item {
                border-color: color-mix(in srgb, var(--choices-color, var(--btn-background-color-secondary-hover)), #ffffff 80%);
                background: var(--white);
                border-radius: var(--base-border-radius-xl);
                color: var(--choices-color);
                font-weight: var(--font-weight-normal);
                font-size: var(--text-font-size);
                font-family: var(--base-font-family);
                transition: background 300ms ease-in-out;
                margin: 0;

                &:hover {
                    border-color: color-mix(in srgb, var(--choices-color, var(--btn-background-color-secondary-hover)), #ffffff 50%);
                }

                &:focus {
                    background: color-mix(in srgb, var(--color-brand), #fff 50%);
                }

                &.is-highlighted {
                    background: color-mix(in srgb, var(--color-brand), #fff 50%);
                }
            }
        }
    }

    &.is-open {
        z-index: 3;

        #{ $self }__inner {
            border-color: var(--input-border-color);
            border-radius: var(--base-border-radius-s);
            color: var(--color-default-text);

            &::placeholder {
                color: var(--input-placeholder-color);
                font-weight: var(--input-placeholder-font-weight);
                opacity: .7;
                transition: opacity .3s;
            }

            &:focus {
                border-color: var(--input-focus-border-color);
                outline: none;

                &::placeholder {
                    opacity: .2;
                }
            }

            &.is-disabled,
            &:disabled {
                border-color: var(--input-disabled-border-color);
                background-color: var(--input-disabled-background-color);
                color: var(--input-disabled-color);
                cursor: not-allowed;
            }
        }
    }

    &.is-focused {
        border-color: var(--input-focus-border-color);

        .choices__inner {
            border-color: var(--input-focus-border-color);
        }
    }
}

.c-choice {
    $self: &;
    margin: 0;

    &__input+&__label--batch {

        &::before {
            margin: 0;
        }
    }

    &__input+&__label {

        &::before {
            top: initial;
            width: 24px;
            height: 24px;
            line-height: 24px;
        }
    }

    &--checkbox {

        .c-field__label {
            margin-bottom: 0;
            font-weight: var(--font-weight-normal);
        }

        #{ $self }__input:checked+#{ $self }__label:checked {
            content: '\f00c';
            border-color: var(--color-secondary);
            background-color: var(--color-secondary);
            font-size: 14px;
            font-family: 'Font Awesome 5 Pro';
        }
    }
}

.c-choice-wrapper {

    &--small {

        .choices__inner {
            min-height: 39px;
        }
    }
}

/* stylelint-enable */
