@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-navbar' as *;
@use '../1-tools/_tools-mixin-breakpoint' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-position' as *;

$sidebar-content-md: 280px;
$sidebar-content-lg: 350px;

.c-form {
    $self: &;
    max-width: 640px;
    margin: 30px auto 0;
    padding: 20px;
    border: 1px solid var(--grey-300);
    border-radius: 4px;
    background-color: var(--white);

    @include media-breakpoint('md') {
        padding: 40px;
    }

    &--medium {
        width: 100%;
        max-width: 860px;
    }

    &--full {
        width: 100%;
        max-width: 1400px;
    }

    &--expanded {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: auto;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: var(--white);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 24px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--base-border-color);
    }

    &__header-sticky {
        @include position(sticky, $top: 0);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: var(--header-sticky-heigh);
        padding: 0 30px;
        border-bottom: 1px solid var(--grey-400);
        background-color: var(--white);
    }

    &__header-wrapper {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-items: end;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 860px;
        margin-bottom: 30px;
        border-bottom: 1px solid var(--base-border-color);
        padding-block: 30px 16px;
    }

    &__title-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 16px;
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__date {
        display: flex;
        gap: 4px;
        align-items: center;
        width: max-content;
        color: var(--color-mute);
        font-size: var(--text-font-size);
        line-height: var(--base-line-height);
        transition: all .15s ease-in-out;
    }

    &__status {
        .choices[data-type='select-one'] {
            --color-style: var(--color-success);
            position: relative;
            display: flex;
            gap: 8px;
            align-items: center;
            align-self: stretch;
            padding: var(--btn-padding) 2.5rem var(--btn-padding) var(--btn-padding);
            border-color: var(--color-style, var(--btn-border-color-primary));
            border-radius: var(--btn-border-radius);
            background-color: var(--color-style, var(--btn-background-color-primary));
            color: var(--white);
            cursor: pointer;
            transition: all .15s ease-in-out;

            &::before { /* [3] */
                content: '\f107'; // fa-angle-down
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                display: grid;
                height: 100%;
                margin-left: 1.25rem;
                padding: .5rem 8px;
                border-left: 1px solid currentcolor;
                color: inherit;
                font-family: var(--base-icon-font);
                place-content: center;
            }

            &::after {
                visibility: hidden;
            }

            &:hover {
                background: color-mix(in srgb, var(--color-style, var(--btn-background-color-primary-hover)), #ffffff 25%);
                color: var(--white);
            }

            .c-field__label {
                margin-bottom: 0;
            }

            .choices {
                width: auto;
            }

            .choices__inner {
                min-height: auto;
                padding: 0;
                border-color: transparent;
                background-color: transparent;
            }

            .choices__list .choices__item--selectable {
                padding-right: 0 !important;
            }

            .choices__list .choices__item--choice {
                display: block;
                padding: 1rem 1.5rem;
                border-bottom: var(--base-border-width) solid var(--grey-400);
                color: var(--color-primary);
                font-weight: var(--font-weight-normal);
                font-size: var(--text-font-size);

                &:hover {
                    background-color: var(--grey-200);
                    color: var(--color-primary);
                    text-decoration: none;
                }
            }

            .choices__list--dropdown .choices__item--selectable.is-highlighted {
                background-color: var(--grey-200);
                color: var(--color-primary);
                text-decoration: none;
            }

            .choices__list--dropdown {
                top: 46px;
                right: -5px;
                z-index: var(--z-index-400);
                width: 140px;
                border: var(--base-border-width) solid var(--grey-400);
                border-radius: var(--base-border-radius-m);
                background-color: var(--white);
                box-shadow: 0 1px 4px rgba(0, 0, 0, .08);
                box-shadow: rgba(0, 0, 0, .08) 0 2px 4px, rgba(0, 0, 0, .06) 0 2px 12px, rgba(0, 0, 0, .04) 0 8px 14px, rgba(0, 0, 0, .02) 0 12px 16px;
                text-align: left;
                transition: visibility .3s ease, opacity .3s ease;
            }

            .choices__item:not(.choices__item--choice) {
                color: var(--white);
                font-weight: var(--btn-font-weight);
                font-size: var(--btn-font-size);
                line-height: 1;
            }

            .choices__button {
                display: none;
            }

            .choices[data-type*='select-one']::after {
                visibility: hidden;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include media-breakpoint('md') {
            flex-direction: row;
        }
    }

    &__content {
        width: 100%;
        margin-bottom: 20px;

        @include media-breakpoint('md') {
            width: calc(100% - #{$sidebar-content-md});
            margin: 0 30px 0 0;
            padding-right: 30px;
            border-right: 1px solid var(--grey-400);
        }

        @include media-breakpoint('lg') {
            width: calc(100% - #{$sidebar-content-lg});
        }

        .c-field:last-of-type {
            margin-bottom: 0;
        }
    }

    &__content-full {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    &__content-aside-full {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__sidebar {
        width: 100%;

        @include media-breakpoint('md') {
            width: $sidebar-content-md;
        }

        @include media-breakpoint('lg') {
            width: $sidebar-content-lg;
        }
    }

    &__fieldset {
        position: relative;
        display: block;
        width: 100%;
        color: var(--color-brand);
        font-weight: var(--font-weight-semibold);
        font-size: var(--text-font-size);
        text-align: center;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%; // at the center
            width: 42%;
            height: 1px;
            background-color: var(--base-border-color);
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &.is-active {
            color: var(--color-brand);

            &::before,
            &::after {
                background-color: var(--color-brand);
            }
        }
    }

    &__tab-list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-bottom: 1.875rem;
        padding: 0;
        list-style: none;
    }

    &__tab-item {
        display: flex;
        flex-direction: column;
        padding: .75rem .938rem;
        border-radius: .313rem;
        background-color: #f7f7f7;
        font-size: var(--text-font-size);
        letter-spacing: 1px;
        cursor: pointer;
        transition: background 300ms ease-in-out;

        &::after {
            content: attr(data-text);
            content: attr(data-text) / '';
            overflow: hidden;
            height: 0;
            font-weight: var(--font-weight-semibold);
            visibility: hidden;
            pointer-events: none;
            user-select: none;
        }

        &:hover {
            background-color: #eeeeee;
        }

        &.is-active {
            background-color: rgba($color: var(--color-info), $alpha: .2);
            color: var(--color-info);
            font-weight: var(--font-weight-semibold);
        }
    }

    &__panel {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        &.is-active {
            display: flex;
        }
    }

    &__footer {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        width: 100%;
        max-width: 860px;
        margin: 4rem auto 0;
        padding-top: 2rem;
        border-top: 1px solid var(--grey-400);
    }
}
