@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-scrollbar' as *;

/* ==========================================================================
   #MESSANGER
   ========================================================================== */

/**
 * Components used to build messanger page.
 *
 * Table of content:
 *
 * 1. Messages
 * 2. Chat
 */

/* 1. Messages
   ========================================================================== */

/**
 * A container for the messanger app.
 */

.c-messanger {
    background-color: var(--base-background-color);
}

/**
 * A container for inbox messages.
 */

.c-messages {
    @include scrollbar;
    overflow-y: auto;
    height: calc(100vh - (69px + 70px));
    border-right: var(--base-border-width) solid var(--base-border-color);
}

.c-message {
    position: relative;
    display: block;
    padding: 15px 20px 15px 30px;
    border-bottom: var(--base-border-width) solid var(--base-border-color);
    color: var(--heading-color);

    &:hover {
        text-decoration: none;
    }

    &.is-active {
        border-left: 3px solid var(--blue-200);
    }
}

.c-message__title {
    margin: 0;
    color: var(--heading-color);
    font-size: 16px;
}

.c-message__title-meta {
    display: block;
    color: var(--color-mute);
    font-size: var(--text-font-size);
}

.c-message__time {
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--color-mute);
    font-size: 14px;
}

/**
 * Make room for messages counter
 */

.c-message__snippet {
    margin: 10px 40px 0 0; /* [1] */
}

.c-message__counter {
    position: absolute;
    right: 20px;
    bottom: 25px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--blue-200);
    color: var(--white);
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

/* 2. Chat
   ========================================================================== */

/**
 * A container for chat.
 */

.c-chat {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    height: calc(100vh - (69px + 70px));
}

.c-chat__body {
    @include scrollbar;
    flex: 1;
    overflow-y: auto;
}

.c-chat__post {
    flex: 0 0 60px;
}

.c-chat__message {
    padding: 20px 80px 20px 30px;
}

.c-chat__message-author {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--heading-color);
    font-weight: var(--font-weight-semibold);
    font-size: var(--h6-font-size);
}

.c-chat__message-time {
    margin-left: 8px;
    color: var(--color-mute);
    font-size: 14px;
}

.c-chat__message-content {
    margin: 0;
    color: var(--text-color);
}


/**
 * Chat Divider
 */

.c-chat__divider {
    position: relative;
    display: block;
    color: var(--color-mute);
    font-size: var(--text-font-size);
    text-align: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%; // at the center
        width: 42%;
        height: 1px;
        background-color: var(--base-border-color);
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &.is-active {
        color: #1a91eb;

        &::before,
        &::after {
            background-color: #1a91eb;
        }
    }
}

/**
  * Chat Message Composer
  *
  * a form to compose a new message.
  */

.c-chat__composer {
    display: flex;
    justify-content: center;
    width: calc(100% - 60px);
    height: 60px;
    margin: 0 auto 20px;
    padding: 0;
    background-color: var(--base-background-color);

    // customize addon to suite composer's design

    .c-field__addon {
        padding: 5px 25px;
    }
}


.c-messanger {
    overflow: hidden;
    height: calc(100vh - (#{$height-navbar} + #{$margin-navbar} + #{$height-toolbar} + #{$height-pagination} + #{$height-footer}));
    border: 1px solid var(--grey-300);
}

.c-messages {
    height: calc(100vh - (#{$height-navbar} + #{$margin-navbar} + #{$height-toolbar} + #{$height-pagination} + #{$height-footer}));
}

.c-message {
    background-color: var(--grey-100);

    &.is-active {
        border-left: 3px solid var(--color-info);
    }

    &.to-read {
        background-color: var(--white);
        font-weight: var(--font-weight-semibold);
    }

    &__title {
        font-weight: inherit;
    }

    &__title-meta {
        color: var(--grey-700);
        font-weight: var(--font-weight-normal);
    }

    &__snippet {
        font-size: .875rem;
    }
}

.c-chat {
    height: calc(100vh - (#{$height-navbar} + #{$margin-navbar} + #{$height-toolbar} + #{$height-pagination} + #{$height-footer}));

    &__divider {

        &.is-active {
            color: var(--color-info);

            &::before,
            &::after {
                background-color: var(--color-info);
            }
        }
    }

    &__message-author {
        margin-bottom: 0;
    }

    [class*='fa-envelope'] {

        &::after {
            display: inline-block;
            padding-left: 10px;
            font-size: .875rem;
            font-family: 'IBM Plex Sans', sans-serif;
        }
    }

    .fa-envelope {

        &::after {
            content: 'Marcar como no leído';
        }
    }

    .fa-envelope-open {

        &::after {
            content: 'Marcar como leído';
        }
    }
}
