@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-breakpoint' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-position' as *;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.c-img-upload {
    $self: &;
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: var(--input-padding);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    background-color: #f7f7f7;

    &__wrapper-img {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;

        &:hover {
            #{ $self }__actions {
                display: flex;
            }

            #{ $self }__figure {
                &::after {
                    background-color: rgba($color: #ffffff, $alpha: .3);
                }
            }
        }
    }

    &__figure {
        display: grid;
        height: 100%;
        background-color: #f7f7f7;
        cursor: pointer;
        transition: all 5s ease-in-out;
        place-content: center;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #ffffff, $alpha: 0);
            transition: all .15s ease-in-out;
            inset: 0;
        }
    }

    &__figure-img {
        font-size: 1.875rem;
    }

    &__img {
        display: block;
        object-fit: contain;
        width: auto;
        max-width: 300px;
        height: auto;
        max-height: 300px;
        aspect-ratio: 3/2;
    }

    &__actions {
        position: absolute;
        right: 0;
        left: 0;
        display: none;
        gap: 8px;
        justify-content: center;
        margin: auto;
    }

    &__cropper-actions {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
    }

    &__loader {
        animation: spin 2s linear infinite;
    }
}

.c-form__sidebar {

    .c-img-upload__wrapper-img,
    .c-img-upload__select {
        width: 100%;
    }

    .c-btn-upload-image-container {
        display: flex;
        justify-content: space-between;
    }
}
