@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-progress' as *;
@use '../1-tools/_tools-mixin-rem' as *;

/* ==========================================================================
   #PROGRESS CARD
   ========================================================================== */

.c-progress-card {
    margin: 0 0 var(--spacer);
    padding: var(--spacer);
    border: var(--base-border-width) solid var(--base-border-color);
    border-radius: var(--base-border-radius);
    background-color: var(--base-background-color);
}

.c-progress-card__title {
    margin: 0;
    font-size: var(--h5-font-size);
}

.c-progress-card__date {
    margin: 0 0 var(--spacer);
    color: var(--color-mute);
    font-size: var(--text-small-font-size);
}

.c-progress-card__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 var(--spacer-small);

    &:last-child {
        margin-bottom: 0;
    }
}

.c-progress-card__label {
    flex-basis: 20%;
    color: var(--color-mute);
    font-size: var(--text-font-size);
}

.c-progress-card__progress {
    flex-basis: 80%;
    margin: 0;
}

.c-progress-card__legends {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-progress-card__legend {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 2px;
    margin: 0 var(--spacer-xsmall) 0 0;
}
