@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-breakpoint' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-position' as *;

.a-overlay {
    @include position(fixed, 0, 0, 0, 0);
    display: none;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 275ms ease;
    background: rgba(0, 0, 0, 0);

    &.a-open {
        background: rgba(0, 0, 0, .6);
        opacity: 1;
    }

    &.fade-and-drop {
        display: grid;
        align-items: center;
        place-content: center;
        opacity: 0;
        transition: all 275ms ease;

        &.a-open {
            opacity: 1;
        }
    }
}

#a-container {
    position: relative;
    z-index: 9999;
    display: none;
    border-radius: 4px;
    width: 90vw;
    height: 90vh;
    padding: rem(50) rem(30);
    transition: 1ms opacity ease;
    background: $color-white;
    opacity: 0;
    overflow: auto;

    &.fade-and-drop {
        opacity: 1;
        display: block;
    }
}

.a-content {
    position: relative;
    overflow: auto;
    height: 100%;
}

#a-close {
    @include position(absolute, $top: 20px, $right: 30px);
    cursor: pointer;
    border: 0;
    outline: none;
    background: $color-transparent;
    color: #7f8fa4;
    font-size: rem(20);
}
