@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-buttons' as *;
@use '../0-settings/_settings-tables' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-linear-gradient' as *;
@use '../1-tools/_tools-mixin-position' as *;

/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * 1. Apply (c-btn--info) background if `c-btn--{style}` class isn't specified.
 * 2. Align icon (if placed inside button) with text properly.
 * 3. Add dropdown icon/arrow to button with `has-dropdown` class, it depends
 *    on (FontAwesome) icon font so make sure to modify it if you changed your
 *    base icon font.
 * 4. Use `disabled` property on <button> elements, and `is-disabled` class on
 *    <a> elements as they don't support `disabled` property.
 */

.c-btn {
    background: color-mix(in srgb,var(--color-info),#000 25%);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    padding: $btn-padding;
    border: $btn-border-width solid;
    border-color: $btn-border-color; /* [1] */
    border-radius: $btn-border-radius;
    color: $btn-color; /* [1] */
    font-weight: $btn-font-weight;
    font-size: $btn-font-size;
    line-height: 1.5rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-in-out;
    appearance: none;

    &:hover,
    &:focus {
        color: $btn-hover-color;
        outline: 0;
        text-decoration: none;
    }

    i {
        position: relative;
        bottom: -1px; /* [2] */
        font-size: 16px;
    }

    &.has-dropdown {
        position: relative;
        padding-right: 2.5rem;

        &::after { /* [3] */
            content: '\f107'; // fa-angle-down
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            height: 100%;
            margin-left: 1.25rem;
            padding: .5rem 8px;
            border-left: 1px solid var(--grey-400);
            color: inherit;
            font-family: var(--base-icon-font);
        }
    }

    &.is-disabled,
    &:disabled { /* [4] */
        border-color: $btn-disabled-border-color;
        background: $btn-disabled-background-color;
        color: $btn-disabled-color;
        pointer-events: none;

        &:hover,
        &:focus {
            border-color: $btn-disabled-border-color;
            background: $btn-disabled-background-color;
            color: $btn-disabled-color;
            cursor: not-allowed;
        }
    }
}

.c-btn--fullwidth {
    width: 100%;
}

.c-btn--no-transition {
    transition: none;
}

/**
 * 1. Reduce spacing between the icon and text in small buttons.
 */

.c-btn--small {
    padding: $btn-small-padding;
    font-size: $btn-small-font-size;

    i {
        margin-right: 5px; /* [1] */
    }
}

.c-btn--large {
    padding: $btn-large-padding;
    font-size: $btn-large-font-size;
}


/* Style variants
   ========================================================================== */

/**
 * Buttons have a simple, nice gradient on the background, we use
 * sass's `darken()` method to generate a dark shade of the requested color,
 * then we use our `linear-gradient` mixin to generate the gradient background.
 */

.c-btn--primary {
    background: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
        background: color-mix(in srgb,var(--color-primary),#000 25%);
    }

    &:focus {
        border-color: color-mix(in srgb,var(--color-primary),#000 25%);
    }
}

.c-btn--secondary {
    background: var(--white);
    border-color: var(--grey-400);

    &:hover {
        background: color-mix(in srgb,var(--color-secondary),#000 25%);
    }

    &:focus {
        border-color: color-mix(in srgb,var(--color-secondary),#000 25%);
    }
}

.c-btn--success {
    background: var(--color-success);
    border-color: var(--color-success);

    &:hover {
        background: color-mix(in srgb,var(--color-success),#000 25%);
    }

    &:focus {
        border-color: color-mix(in srgb,var(--color-success),#000 25%);
    }
}

.c-btn--info {
    background: var(--color-info);
    border-color: var(--color-info);

    &:hover {
        background: color-mix(in srgb,var(--color-info),#000 25%);
    }

    &:focus {
        border-color: color-mix(in srgb,var(--color-info),#000 25%);
    }
}

.c-btn--warning {
    background: var(--color-warning);
    border-color: var(--color-warning);

    &:hover {
        background: color-mix(in srgb,var(--color-warning),#000 25%);
    }

    &:focus {
        border-color: color-mix(in srgb,var(--color-warning),#000 25%);
    }
}

.c-btn--danger {
    background: var(--color-danger);
    border-color: var(--color-danger);

    &:hover {
        background: color-mix(in srgb,var(--color-danger),#000 25%);
    }

    &:focus {
        border-color: color-mix(in srgb,var(--color-danger),#000 25%);
    }
}

.c-btn--brand {
    background: var(--color-brand);
    border-color: var(--color-brand);

    &:hover {
        background: color-mix(in srgb,var(--color-brand),#000 25%);
    }

    &:focus {
        border-color: color-mix(in srgb,var(--color-brand),#000 25%);
    }
}

.c-btn--cancel {
    border: 0;
    background-color: var(--color-transparent);
    color: var(--gunmetal-200);
    text-decoration: underline;

    &:hover {
        color: var(--gunmetal-500);
    }
}

.c-btn--delete {
    color: var(--grey-700);
    transition: all .2s ease-in-out;

    &:hover {
        background-color: var(--red-100);
        border-color: var(--red-300);
        color: var(--white);
    }
}

.c-btn--ghost {
    padding: 0;
    border: 0;
    background-color: var(--color-transparent);
    color: var(--grey-700);

    i {
        color: var(--grey-700);
    }

    &:hover,
    &:focus {
        color: var(--color-primary);
    }
}

.c-btn--grey {
    border: 0;
    background-color: #716b67;
    color: var(--white);

    &:hover {
        background-color: #56524f;
    }
}

.c-btn--upload-image {
    flex-grow: .9;
}

.c-btn--delete-image {
    @include position(absolute, $top: 5px, $right: 5px);
    display: none;

    i {
        margin-right: 0;
    }

    &:hover {
        background-color: color-mix(in srgb,var(--red-100),--red-300 25%);
        border-color: var(--red-300);
        color: $btn-hover-color;
    }
}

