.c-accordion {
    $self: &;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radious-m);
    transition: box-shadow .15s ease-in-out;

    &:hover {
        .c-dropdown {
            visibility: visible;
        }
    }

    .c-accordion {
        border: 1px solid transparent;
        background: color-mix(in srgb, var(--color-primary, var(--btn-background-color-secondary-hover)), #ffffff 95%);

        &:hover {
            border: 1px solid var(--border-color);
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        color: var(--field-label-color);
        font-weight: var(--font-weight-medium);
        font-size: 1rem;
        cursor: pointer;
    }

    &__header-wrapper {
        display: flex;
        align-items: center;
    }

    &__body {
        height: auto;
        max-height: 3000px;
        padding: 0 24px 24px;

        &.is-hidden {
            overflow: hidden;
            max-height: 0;
            padding-bottom: 0;
        }
    }

    &--s {
        #{$self}__header {
            padding: 12px 24px;
        }

        #{$self}__body {
            padding: 0 24px 24px;

            &.is-hidden {
                max-height: 0;
                padding-bottom: 0;
            }
        }
    }

    &__dropdown.c-dropdown {
        position: absolute;
        top: 12px;
        right: 48px;
        z-index: 1;
        visibility: hidden;
        transition: visibility .15s ease-in-out;
    }
}
