@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

.c-footer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.c-footer__wrapper {
    padding: 16px 32px;
    border-top: 1px solid var(--border-color);
    color: var(--color-default-text);
    font-size: .75rem;
    text-align: right;
}

.c-footer__link {
    color: var(--color-default-text);
    font-weight: var(--font-weight-semibold);
}
