@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-buttons' as *;
@use '../0-settings/_settings-tables' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-linear-gradient' as *;
@use '../1-tools/_tools-mixin-position' as *;

/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * 1. Apply (c-btn--info) background if `c-btn--{style}` class isn't specified.
 * 2. Align icon (if placed inside button) with text properly.
 * 3. Add dropdown icon/arrow to button with `has-dropdown` class, it depends
 *    on (FontAwesome) icon font so make sure to modify it if you changed your
 *    base icon font.
 * 4. Use `disabled` property on <button> elements, and `is-disabled` class on
 *    <a> elements as they don't support `disabled` property.
 */

.c-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    border: var(--btn-border-width) solid;
    border-radius: var(--btn-border-radius);
    padding: var(--btn-padding);
    font-weight: var(--btn-font-weight);
    font-size: var(--btn-font-size);
    line-height: 1.5;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-in-out;
    appearance: none;

    &:hover,
    &:focus {
        color: var(--btn-hover-color);
        outline: 0;
        text-decoration: none;
    }

    i {
        position: relative;
        bottom: -1px; /* [2] */
        font-size: 16px;
    }

    &.has-dropdown {
        border-color: var(--grey-400);
        position: relative;
        padding-right: 2.5rem;
        color: var(--grey-700);

        &:hover {
            background: color-mix(in srgb,var(--color-style, var(--btn-background-color-secondary-hover)),#fff 75%);
            color: var(--color-secondary);
        }

        &::after { /* [3] */
            content: '\f107'; // fa-angle-down
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            height: 100%;
            margin-left: 1.25rem;
            padding: .5rem 8px;
            border-left: 1px solid var(--grey-400);
            color: inherit;
            font-family: var(--base-icon-font);
        }
    }

    &.is-disabled,
    &:disabled { /* [4] */
        border-color: var(--btn-disabled-border-color);
        background: var(--btn-disabled-background-color);
        color: var(--btn-disabled-color);
        pointer-events: none;

        &:hover,
        &:focus {
            border-color: var(--btn-disabled-border-color);
            background: var(--btn-disabled-background-color);
            color: var(--btn-disabled-color);
            cursor: not-allowed;
        }
    }
}

// Type
.c-btn--primary {
    background-color: var(--color-style, var(--btn-background-color-primary));
    border-color: var(--color-style, var(--btn-border-color-primary));
    color: var(--white);

    &:hover {
        background: color-mix(in srgb,var(--color-style, var(--btn-background-color-primary-hover)),#fff 25%);
    }

    &:focus {
        border-color: var(--color-style, var(--btn-border-color-primary-focus));
        outline: 1px solid color-mix(in srgb,var(--color-style, var(--btn-border-color-primary-focus)),#000 25%);
    }
}

.c-btn--secondary {
    background-color: var(--btn-background-color-secondary);
    border-color: var(--color-style, var(--btn-border-color-secondary));
    color: var(--color-style, var(--color-secondary));

    &:hover {
        background: color-mix(in srgb,var(--color-style, var(--btn-background-color-secondary-hover)),#fff 75%);
        color: var(--color-style, var(--color-secondary));
    }

    &:focus {
        border-color: var(--color-style, var(--btn-border-color-secondary-focus));
        color: var(--color-style, var(--color-secondary));
        outline: 1px solid var(--color-style, var(--color-secondary));
    }
}

.c-btn--ghost {
    padding: 0;
    border: 0;
    background-color: var(--color-transparent);
    color: var(--grey-700);

    i {
        color: var(--grey-700);
    }

    &:hover,
    &:focus {
        color: var(--color-primary);
    }
}

.c-btn--cancel {
    border: 0;
    background-color: var(--color-transparent);
    color: var(--gunmetal-200);
    text-decoration: underline;

    &:hover {
        color: var(--color-secondary);
        background-color: var(--grey-400);
    }
}

// Syze

.c-btn--small {
    padding: var(--btn-small-padding);
    font-size: var(--btn-small-font-size);

    i {
        margin-right: 4px;
    }
}

.c-btn--large {
    padding: var(--btn-large-padding);
    font-size: var(--btn-large-font-size);
}

.c-btn--fullwidth {
    width: 100%;
}

// Style
.c-btn--success {
    --color-style: var(--color-success);
}

.c-btn--info {
    --color-style: var(--color-info);
}

.c-btn--warning {
    --color-style: var(--color-warning);
}

.c-btn--danger {
    --color-style: var(--color-danger);
}

.c-btn--brand {
    --color-style: var(--color-brand);
}

// Others
.c-btn--delete {
    --color-style: var(--grey-400);
    color: var(--grey-700);
    transition: all .2s ease-in-out;

    &:hover {
        background-color: var(--red-100);
        border-color: var(--red-300);
        color: var(--white);
    }
}

.c-btn--upload-image {
    flex-grow: .9;
}

.c-btn--delete-image {
    @include position(absolute, $top: 5px, $right: 5px);
    display: none;

    i {
        margin-right: 0;
    }

    &:hover {
        background-color: color-mix(in srgb,var(--red-100),--red-300 25%);
        border-color: var(--red-300);
        color: var(--btn-hover-color);
    }
}

.c-btn--no-transition {
    transition: none;
}

.c-btn--form {
    min-height: 3.25rem;
    padding: .5rem 1.125rem;
}
