@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-breakpoint' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-position' as *;

.c-img-upload {
    $self: &;
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &__select {
        width: 100%;

        @include media-breakpoint('md') {
            width: 15.625rem;
            min-height: 2.438rem;
        }
    }

    &__wrapper-img {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;

        @include media-breakpoint('md') {
            width: 15.625rem;
        }

        &:hover {
            #{ $self }__actions {
                display: flex;
            }
        }
    }

    &__figure {
        display: grid;
        height: 100%;
        min-height: 15.625rem;
        border-radius: .5;
        background-color: #f7f7f7;
        cursor: pointer;
        place-content: center;
    }

    &__figure-img {
        font-size: 1.875rem;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: .5;
    }

    &__actions {
        position: absolute;
        right: 0;
        left: 0;
        display: none;
        gap: 8px;
        justify-content: center;
        margin: auto;
    }
}

.c-form__sidebar {

    .c-img-upload__wrapper-img,
    .c-img-upload__select {
        width: 100%;
    }

    .c-btn-upload-image-container {
        display: flex;
        justify-content: space-between;
    }
}
