@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-breakpoint' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-position' as *;

/* stylelint-disable */
#toast-container {
    position: fixed;
    z-index: 999999;
}

#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toast-container > div {
    position: relative;
    overflow: hidden;
    width: 320px;
    margin: 0;
    padding: 12px 48px 24px 48px;
    border-radius: var(--base-border-radius);
    color: color-mix(in srgb, var(--color-toast), #000 25%);
    box-shadow: 0px 4px 8px 0px rgba(49,113,89, .8);
}

#toast-container > .toast-info::before {
    @include position(absolute, $top: 13px, $left: 16px);
    content: '\f05a';
    display: inline-block;
    line-height: 1.125rem;
    margin: auto;
    font-weight: 300;
    font-size: 1.125rem;
    font-family: var(--base-icon-font);
}

#toast-container > .toast-error::before {
    @include position(absolute, $top: 13px, $left: 16px);
    content: '\f06a';
    display: inline-block;
    line-height: 1.125rem;
    margin: auto;
    font-weight: 300;
    font-size: 1.125rem;
    font-family: var(--base-icon-font);
}

#toast-container > .toast-success::before {
    @include position(absolute, $top: 13px, $left: 16px);
    content: '\f058';
    display: inline-block;
    line-height: 1.125rem;
    margin: auto;
    font-weight: 300;
    font-size: 1.125rem;
    font-family: var(--base-icon-font);
}

#toast-container > .toast-warning::before {
    @include position(absolute, $top: 13px, $left: 16px);
    content: '\f071';
    display: inline-block;
    line-height: 1.125rem;
    margin: auto;
    font-weight: 300;
    font-size: 1.125rem;
    font-family: var(--base-icon-font);
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
}

.toast-title {
    font-weight: var(--font-weight-semibold);
}

.toast-message {
    font-weight: var(--font-weight-normal);
    font-size: .875rem;
    line-height: 1.25rem;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color: color-mix(in srgb, var(--color-toast), #000 25%);
}

.toast-message a,
.toast-message label {
    color: var(--color-toast);
}

.toast-message a:hover {
    text-decoration: none;
}

.toast-close-button {
    @include position(absolute, $top: 14px, $right: 16px);
    display: inline-block;
    padding: 0;
    border: 0;
    background: transparent;
    color: color-mix(in srgb, var(--color-toast), #000 25%);
    font-weight: 300;
    font-size: 1.5rem;
    line-height: .938rem;
    cursor: pointer;
    -webkit-appearance: none;
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    right: 0;
    bottom: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    right: 0;
    bottom: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

.toast {
    background-color: #030303;
}

.toast-success {
    --color-toast: var(--color-success);
    background-color: color-mix(in srgb, var(--color-toast), #fff 85%);
}

.toast-error {
    --color-toast: var(--color-danger);
    background-color: color-mix(in srgb, var(--color-toast), #fff 85%);
}

.toast-info {
    --color-toast: var(--color-info);
    background-color: color-mix(in srgb, var(--color-toast), #fff 85%);
}

.toast-warning {
    --color-toast: var(--color-warning);
    background-color: color-mix(in srgb, var(--color-toast), #fff 85%);
}

.toast-progress {
    @include position(absolute, $left: 0, $bottom: 0);
    height: 4px;
    border-radius: 0;
    background-color: var(--color-toast);
    opacity: .8;
}
/* stylelint-enable */
