@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-buttons' as *;
@use '../0-settings/_settings-tables' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-linear-gradient' as *;
@use '../1-tools/_tools-mixin-position' as *;
/* ==========================================================================
   #BUTTONS
   ========================================================================== */
/**
 * 1. Apply (c-btn--info) background if `c-btn--{style}` class isn't specified.
 * 2. Align icon (if placed inside button) with text properly.
 * 3. Add dropdown icon/arrow to button with `has-dropdown` class, it depends
 *    on (FontAwesome) icon font so make sure to modify it if you changed your
 *    base icon font.
 * 4. Use `disabled` property on <button> elements, and `is-disabled` class on
 *    <a> elements as they don't support `disabled` property.
 */

.c-btn {
    position: relative;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    // overflow: hidden;
    max-width: 100%;
    margin: 0;
    padding: var(--btn-padding);
    border: var(--btn-border-width) solid;
    border-radius: var(--btn-border-radius);
    font-weight: var(--btn-font-weight);
    font-size: var(--btn-font-size);
    line-height: 1;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-in-out;
    appearance: none;

    &:hover {
        outline: 0;
        text-decoration: none;
    }

    &:focus {
        border-radius: var(--btn-border-radius);
        outline: 2px dotted var(--color-style);
        outline-offset: 2px;
        text-decoration: none;
    }

    i {
        // position: relative;
        // bottom: -1px; /* [2] */
        // font-size: 16px;
    }

    &.has-dropdown {
        position: relative;
        padding-right: 2.5rem;

        &::after { /* [3] */
            content: '\f107'; // fa-angle-down
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            display: grid;
            height: 100%;
            margin-left: 1.25rem;
            padding: .5rem 8px;
            border-left: 1px solid currentcolor;
            color: inherit;
            font-family: var(--base-icon-font);
            place-content: center;
        }
    }

    &.is-disabled,
    &:disabled { /* [4] */
        border-color: var(--btn-disabled-border-color);
        background: var(--btn-disabled-background-color);
        color: var(--btn-disabled-color);
        cursor: not-allowed;

        i {
            color: var(--btn-disabled-color);
        }

        &:hover,
        &:focus {
            border-color: var(--btn-disabled-border-color);
            background: var(--btn-disabled-background-color);
            color: var(--btn-disabled-color);
            cursor: not-allowed;
        }
    }
}

// Type
.c-btn--solid {
    border-color: var(--color-style, var(--btn-border-color-primary));
    background-color: var(--color-style, var(--btn-background-color-primary));
    color: var(--white);

    &:hover {
        background: color-mix(in srgb, var(--color-style, var(--btn-background-color-primary-hover)), #ffffff 25%);
        color: var(--white);
    }
}

.c-btn--cta {
    border-color: color-mix(in srgb, var(--color-style, var(--btn-background-color-secondary-hover)), #ffffff 80%);
    background: color-mix(in srgb, var(--color-style, var(--btn-background-color-secondary-hover)), #ffffff 90%);
    color: var(--color-style);

    &:hover {
        border-color: color-mix(in srgb, var(--color-style, var(--btn-background-color-secondary-hover)), #ffffff 50%);
    }
}

.c-btn--border {
    border-color: var(--color-style, var(--btn-border-color-primary));
    background-color: var(--btn-background-color-secondary);
    color: var(--color-style, var(--color-primary));

    &:hover {
        background: var(--color-style, var(--color-primary));
        color: var(--white);
    }
}

.c-btn--ghost {
    border: 0;
    background-color: var(--color-transparent);
    color: var(--gunmetal-200);

    &:hover {
        background-color: var(--grey-400);
        color: var(--color-primary);
    }
}

.c-btn--cancel {
    border: 0;
    background-color: var(--color-transparent);
    color: var(--gunmetal-200);
    text-decoration: underline;

    &:hover {
        background-color: var(--grey-400);
        color: var(--color-primary);
    }
}

// Syze

.c-btn--small {
    padding: var(--btn-small-padding);
    font-size: var(--btn-small-font-size);
}

.c-btn--large {
    padding: var(--btn-large-padding);
    font-size: var(--btn-large-font-size);
}

.c-btn--fullwidth {
    width: 100%;
}

// Style
.c-btn--primary {
    --color-style: var(--color-primary);
}

.c-btn--secondary {
    --color-style: var(--color-secondary);
}

.c-btn--success {
    --color-style: var(--color-success);
}

.c-btn--info {
    --color-style: var(--color-info);
}

.c-btn--warning {
    --color-style: var(--color-warning);
}

.c-btn--danger {
    --color-style: var(--color-danger);
}

// Others
.c-btn--delete {
    // --color-style: var(--grey-400);
    // color: var(--grey-700);
    // transition: all .2s ease-in-out;

    &:hover {
        border-color: var(--red-300);
        background-color: var(--red-100);
        color: var(--white);
    }
}

.c-btn--delete-image {
    @include position(absolute, $top: 5px, $right: 5px);
    display: none;

    i {
        margin-right: 0;
    }

    &:hover {
        border-color: var(--red-300);
        background-color: color-mix(in srgb, var(--red-100), --red-300 25%);
        color: var(--btn-hover-color);
    }
}

.c-btn--no-transition {
    transition: none;
}

.c-btn--form {
    min-height: 3.25rem;
    padding: .5rem 1.125rem;
}
