.c-drop {
    position: relative;
    display: flex;

    &__zone {
        display: none;

        &.is-active {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 200px;
            padding: 16px;
            border: 2px dashed var(--input-border-color);
            border-radius: var(--border-radious-m);
            color: var(--color-default-text);
            cursor: pointer;
            transition: background .2s ease-in-out, border .2s ease-in-out;
        }

        &:hover,
        &.drag-active {
            border-color: var(--input-focus-border-color);
            background: var(--grey-200);
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        color: var(--color-default-text);
        font-weight: var(--font-weight-semibold);
        font-size: 1rem;
        text-align: center;
        transition: color .2s ease-in-out;
    }

    &__help {
        color: #767676;
        font-weight: var(--font-weight-normal);
        font-size: .8125rem;
        text-align: center;
    }

    &__figure {
        display: none;

        &.is-active {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__image {
        display: flex;
    }

    &__btn {
        align-self: start;
    }

    .c-input--file {
        padding: 10px 16px;
    }
}
