@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-alerts' as *;
@use '../0-settings/_settings-tabs' as *;
@use '../0-settings/_settings-tables' as *;
@use '../1-tools/_tools-mixin-rem' as *;

/* ==========================================================================
   #ALERTS
   ========================================================================== */

.c-alert {
    position: relative;
    display: flex;
    width: 100%;
    margin: var(--alert-margin);
    padding: var(--alert-padding);
    border-radius: var(--alert-border-radius);
    color: var(--alert-color);
    transition: all .3s;

    .c-close {
        position: absolute;
        top: var(--alert-close-top);
        right: var(--alert-close-right);
    }


    &.fade {
        opacity: 0;
        transition: opacity .3s;

        &.show {
            opacity: 1;
        }
    }

    &[class*='--border'] {
        font-weight: var(--font-weight-normal);
        font-size: .813rem;
    }

    &--border-success {
        border: 1px solid var(--alert-success-background-color);
        background-color: color-mix(in srgb, var(--alert-success-background-color), #fff 75%);
        color: var(--alert-success-background-color);
    }

    &--border-info {
        border: 1px solid var(--alert-info-background-color);
        background-color: color-mix(in srgb, var(--alert-info-background-color), #fff 75%);
        color: var(--alert-info-background-color);
    }

    &--border-warning {
        border: 1px solid var(--alert-warning-background-color);
        background-color: color-mix(in srgb, var(--alert-warning-background-color), #fff 75%);
        color: var(--alert-warning-background-color);
    }

    &--border-danger {
        border: 1px solid var(--alert-danger-background-color);
        background-color: color-mix(in srgb, var(--alert-danger-background-color), #fff 75%);
        color: var(--alert-danger-background-color);
    }
}


/**
 * 1. Align icon with text properly.
 */

.c-alert__icon {
    position: relative;
    bottom: -4px; /* [1] */
    margin-right: var(--alert-icon-margin-right);
    font-size: var(--alert-icon-font-size);
    opacity: var(--alert-icon-opacity);
}


/* Style variants
   ========================================================================== */

.c-alert--success {
    background-color: var(--alert-success-background-color);
}

.c-alert--info {
    background-color: var(--alert-info-background-color);
}

.c-alert--warning {
    background-color: var(--alert-warning-background-color);
}

.c-alert--danger {
    background-color: var(--alert-danger-background-color);
}
