@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-nav' as *;
@use '../0-settings/_settings-navbar' as *;
@use '../1-tools/_tools-mixin-breakpoint' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-respond-to' as *;
@use '../1-tools/_tools-mixin-position' as *;
@use '../1-tools/_tools-mixin-scrollbar' as *;

/* ==========================================================================
   #SIDEBAR
   ========================================================================== */

/**
 * NOTE: The layout, width of the sidebar is controlled by `o-page__sidebar` in
 *       `o-page` object, found in `objects/_objects.page.scss`.
 */

.c-sidebar {
    @include scrollbar;
    position: relative;
    z-index: var(--z-index-200); // DEV NOTE: COMPARE WITH `o-page__sidebar`
    overflow: auto;
    height: 100%;
    margin: 0;
    padding-bottom: var(--spacer);
    background-color: #222c3c;
}

/**
 * 1. Height of sidebar brand should equal the height of the navbar for perfect
 *    alignment.
 * 2. You can change the height of brand/logo image as you want, but its height
 *    shouldn't be more than navbar's height.
 */

.c-sidebar__brand {
    display: flex;
    vertical-align: middle;
    align-items: center;
    height: $navbar-height; /* [1] */
    padding-left: var(--spacer);
    border-bottom: var(--base-border-width) solid #2a3547;
    color: var(--grey-300);
    font-size: 1rem;

    &:hover {
        color: var(--grey-300);
        text-decoration: none;
    }
}

.c-sidebar__brand-img {
    display: inline-block;
    height: 44px; /* [2] */
    margin-right: var(--spacer-xsmall);
}

.c-sidebar__title {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 30px;
    color: var(--color-mute);
    font-size: 12px;
    text-transform: uppercase;
}

.c-sidebar__divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2a3547;
}

/**
 * Sidebar naviagtion menu
 */

 .c-sidebar__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.c-sidebar__item {
    position: relative;
    transition: background-color .2s;

    /**
     * 1. Add small arrow to `c-menu__link` when `c-menu__item` has sub-menu.
     */

    &.has-submenu > .c-sidebar__link::after { /* [1] */
        content: '\f0d7'; // fa-caret-down
        position: absolute;
        top: 12px;
        right: 30px;
        display: inline-block;
        color: #b7c0cd;
        font-family: var(--base-icon-font);
    }

    &.is-open {
        background-color: #1d2531;
        box-shadow: inset 3px 0 0 0 #00a8ff;

        > .c-sidebar__link::after {
            content: '\f0d8'; // fa-caret-up
        }
    }
}

.c-sidebar__link {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px 0 10px 30px;
    color: #b7c0cd;
    font-size: .875rem;
    transition: background-color .2s;

    &.is-active {
        background-color: #1d2531;
        box-shadow: inset 3px 0 0 0 #00a8ff;
    }

    &:hover {
        color: var(--white);
        text-decoration: none;
    }
}

/**
 * Sub Menu
 */

.c-sidebar__submenu {
    /**
     * Bootstrap classes used to show and hide sidebar submenu.
     * This behaviour depends on collapse.js plugin.
     */

    &.collapse {
        display: none;
    }

    &.show {
        display: block;
    }

    &.collapsing {
        position: relative;
        overflow: hidden;
        height: 0;
        transition: height .3s;
    }
}

/* Style Variation - Light Sidebar
   ========================================================================== */

.c-sidebar--light {
    border-right: var(--base-border-width) solid var(--base-border-color);
    background-color: var(--white);

    /**
     * 1. Add a slight shadow to the sidebar to make it popup a little bit
     *    on small screens.
     */
    @include respond-to($breakpoint-desktop) {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .1); /* [1] */
    }

    .c-sidebar__divider {
        background-color: var(--base-border-color);
    }

    .c-sidebar__brand {
        color: var(--heading-color);
    }

    .c-sidebar__item {

        &.has-submenu > .c-sidebar__link::after { /* [1] */
            color: #b7c0cd;
        }

        &.is-open {
            background-color: #fafbfc;
        }
    }

    .c-sidebar__link {
        color: var(--color-mute);

        &.is-active {
            background-color: transparent;
            color: var(--heading-color);

            i {
                color: var(--link-color);
            }

            &:hover {
                color: #2ea1f8;
            }
        }

        &:hover {
            color: var(--heading-color);
        }
    }
}



/* Sidebar toggle
   ========================================================================== */

/**
 * An icon the is used to toggle (show/hide) sidebar on small screen, you will
 * find this component placed in the main navbar.
 */

.c-sidebar-toggle {
    position: relative;
    display: none;
    width: $nav-toggle-width;
    height: $nav-toggle-height;
    margin: 0 var(--spacer-small) 0 0; /* [1] */
    padding: 0; /* [1] */
    border: 0; /* [1] */
    background-color: transparent; /* [1] */
    outline: none;
    cursor: pointer;

    @include respond-to($breakpoint-desktop) {
        display: block; /* [2] */
    }
}

/**
 * The hamburger icon itself, 3 bars stacked on top of each other.
 */

.c-sidebar-toggle__bar {
    position: relative;
    display: block;
    width: $nav-toggle-bar-width;
    height: $nav-toggle-bar-height;
    border-radius: $nav-toggle-bar-border-radius;
    background-color: $nav-toggle-bar-background-color;
    transition: all .3s;


    &:first-child {
        transform: translateY(-6px);
    }

    &:last-child {
        transform: translateY(6px);
    }
}

.c-sidebar {
    $self: &;
    position: relative;

    &__brand img {
        height: 44px;
    }

    &__text {
        padding-left: 10px;
        color: var(--color-default-text);
    }

    &__item {
        margin: 10px 0;

        &.is-open {
            position: relative;
            box-shadow: none;

            &::before {
                @include position(absolute, $top: 0, $left: 15px);
                content: '';
                width: 3px;
                height: 100%;
                background-color: var(--color-sidebar-active);
            }
        }

        &.has-submenu > .c-sidebar__link::after {
            content: initial;
        }

        &.is-open {

            > .c-sidebar__link::after {
                content: initial;
            }
        }
    }

    &__link {
        position: relative;
    }

    /* stylelint-disable */
    &--light {
        #{ $self }__brand {
            border: 0;
        }

        #{ $self }__item {

            &.is-open {
                background-color: var(--white);
            }
        }

        #{ $self }__link {
            margin: 10px 0;
            color: var(--grey-700);

            &.is-active {
                position: relative;
                color: var(--color-sidebar-active);
                box-shadow: none;
                font-weight: var(--font-weight-bold);

                &::before {
                    @include position(absolute, $top: 0, $left: 15px);
                    content: '';
                    width: 3px;
                    height: 100%;
                    background-color: var(--color-sidebar-active);
                }

                i {
                    color: var(--color-sidebar-active);
                }

                &:hover {
                    color: initial;
                }
            }
        }
    }

    &__submenu {
        margin-left: 20px;

        #{ $self }__link {

            &.is-active {
                margin: 0;
                box-shadow: inherit;

                &::before {
                    content: initial;
                }
            }
        }
    }
    /* stylelint-enable */

    &__close {
        @include position(absolute, $top: 25px, $right: 20px);
        color: var(--grey-800);
        font-size: 1.25rem;
        cursor: pointer;
    }
}

