@use '../0-settings/_settings-global' as *;
/* ==========================================================================
   #BADGES
   ========================================================================== */

.c-badge {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 26px;
    padding: 8px;
    border-radius: var(--border-radious-m);
    font-weight: var(--font-weight-semibold);
    font-size: 12px;
    line-height: 12px;
    transition: all 300ms ease-in-out;
}
/* Style variants
   ========================================================================== */
.c-badge--xl {
    height: 32px;
    padding: 12px;
    font-size: .875rem;
    line-height: .875rem;
}

.c-badge--primary {
    background: color-mix(in srgb, var(--color-primary, var(--btn-background-color-secondary-hover)), #ffffff 95%);
    color: var(--color-primary);
}

.c-badge--success,
.c-badge--published,
.c-badge[data-badge='Beginner'] {
    background: color-mix(in srgb, var(--color-success, var(--btn-background-color-secondary-hover)), #ffffff 90%);
    color: var(--color-success);
}

.c-badge--info,
.c-badge--draft,
.c-badge[data-badge='Intermediate'] {
    background: color-mix(in srgb, var(--color-info, var(--btn-background-color-secondary-hover)), #ffffff 90%);
    color: var(--color-info);
}

.c-badge--warning {
    background: color-mix(in srgb, var(--color-warning, var(--btn-background-color-secondary-hover)), #ffffff 90%);
    color: var(--color-warning);
}

.c-badge--danger,
.c-badge[data-badge='Advanced'] {
    background: color-mix(in srgb, var(--color-danger, var(--btn-background-color-secondary-hover)), #ffffff 90%);
    color: var(--color-danger);
}

.c-badge--unpublished {
    background: color-mix(in srgb, var(--color-primary, var(--btn-background-color-secondary-hover)), #ffffff 90%);
    color: var(--color-primary);
}
