@use 'easymde/dist/easymde.min'  as *;
@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-inputs' as *;
@use '../1-tools/_tools-mixin-rem' as *;

.ws-img-markdown__new-upload, .ws-file-markdown__new-upload {
    display: none;
}

.editor-toolbar {
    border-top: 1px solid var(--grey-400);
    border-left: 1px solid var(--grey-400);
    border-right: 1px solid var(--grey-400);

    .svg-inline--fa {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    button {
        font-size: 1rem;

        &:focus {
            outline: none;
        }
    }
}

.editor-preview {

    strong {
        font-weight: bolder;
    }

    em {
        font-style: italic;
    }

    h1 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 1.2;
    }

    ol,
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 40px;
    }

    ol {
        list-style-type: decimal;
    }

    a {
        background-color: transparent;
        color: #007bff;
        text-decoration: none;
        text-decoration-skip: objects;
    }
}

.CodeMirror-code {
    color: var(--gunmetal-200);
    font-size: .875rem;
    line-height: 1.5rem;
}

.CodeMirror-placeholder {
    color: var(--input-placeholder-color) !important;
    font-weight: var(--input-placeholder-font-weight);
    font-size: .875rem !important;
    opacity: .7;
    transition: opacity .3s;
}

.editor-statusbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding: 8px 0;

    span {
        min-width: inherit;
        margin-left: 0;
    }
}

.EasyMDEContainer .CodeMirror {
    border: 1px solid var(--grey-400);
}
