@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-breakpoint' as *;
@use '../1-tools/_tools-mixin-rem' as *;
@use '../1-tools/_tools-mixin-position' as *;

.a-overlay {
    @include position(fixed, 0, 0, 0, 0);
    z-index: 9999;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all 275ms ease;

    &.a-open {
        background: rgba(0, 0, 0, .6);
        opacity: 1;
    }

    &.fade-and-drop {
        display: grid;
        align-items: center;
        opacity: 0;
        transition: all 275ms ease;
        place-content: center;

        &.a-open {
            opacity: 1;
        }
    }
}

/* stylelint-disable */
#a-container {
    position: relative;
    z-index: 9999;
    display: none;
    overflow: auto;
    width: 90vw;
    height: 90vh;
    padding: 3.125rem 1.875rem;
    border-radius: 4px;
    background: var(--white);
    opacity: 0;
    transition: 1ms opacity ease;

    &.fade-and-drop {
        display: block;
        opacity: 1;
    }
}

.a-content {
    position: relative;
    overflow: auto;
    height: 100%;
}

#a-close {
    @include position(absolute, $top: 20px, $right: 30px);
    border: 0;
    background: var(--color-transparent);
    color: #7f8fa4;
    outline: none;
    font-size: 1.25rem;
    cursor: pointer;
}
/* stylelint-enable */
