@use '../0-settings/_settings-global' as *;
@use '../0-settings/_settings-inputs' as *;
@use '../0-settings/_settings-buttons' as *;
@use '../1-tools/_tools-mixin-rem' as *;
/* ==========================================================================
   #INPUTS
   ========================================================================== */

.c-input {
    display: block;
    width: 100%;
    margin: 0;
    padding: var(--input-padding);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    background-color: var(--input-background-color);
    color: var(--input-focus-color);
    font-weight: var(--input-font-weight);
    font-size: var(--input-font-size);
    line-height: var(--base-line-height);
    resize: none;
    transition: all .3s;

    &::placeholder {
        color: var(--input-placeholder-color);
        font-weight: var(--input-placeholder-font-weight);
        opacity: .7;
        transition: opacity .3s;
    }

    &:focus {
        border-color: var(--input-focus-border-color);
        outline: none;

        &::placeholder {
            opacity: .2;
        }
    }

    &.is-disabled,
    &:disabled {
        border-color: var(--input-disabled-border-color);
        background-color: var(--input-disabled-background-color);
        color: var(--input-disabled-color);
        cursor: not-allowed;
    }

    &--small {
        padding: var(--btn-padding);
    }

    &--select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &--addon {
        &::after {
            border: 1px solid var(--grey-400);
            border-radius: var(--border-radius-xxs);
            font-size: 1.125rem;
            text-align: center;
        }
    }
}
/**
 * Textarea
 */

// sass-lint:disable no-qualifying-elements

textarea.c-input {
    min-height: 250px;
    font-weight: var(--textarea-font-weight);
    font-size: var(--textarea-font-size);
    resize: vertical;

    &.c-input--textarea-small {
        min-height: 52px;
    }
}

// sass-lint:enable no-qualifying-elements
/* State variants
   ========================================================================== */

.c-input--success {
    border-color: var(--input-success-border-color);

    &:focus {
        border-color: var(--input-success-border-color);
    }
}

.c-input--warning {
    border-color: var(--input-warning-border-color);

    &:focus {
        border-color: var(--input-warning-border-color);
    }
}

.c-input--danger {
    border-color: var(--input-danger-border-color);
    color: var(--input-danger-color);

    &:focus {
        border-color: var(--input-danger-border-color);
        color: var(--input-danger-color);
    }
}

input[type='file']::file-selector-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    max-width: 100%;
    margin: 0 16px 0 0;
    padding: var(--btn-padding);
    border: var(--btn-border-width) solid;
    border-color: var(--color-style, var(--btn-border-color-primary));
    border-radius: var(--btn-border-radius);
    background-color: var(--color-style, var(--btn-background-color-primary));
    color: var(--white);
    font-weight: var(--btn-font-weight);
    font-size: var(--btn-font-size);
    line-height: 1.5;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-in-out;
    appearance: none;
}

input[type='file']::file-selector-button:hover {
    background: color-mix(in srgb, var(--color-style, var(--btn-background-color-primary-hover)), #ffffff 25%);
}
