@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-breakpoint' as *;
@use '../1-tools/_tools-mixin-position' as *;

.o-link-block {
    @include position(absolute, 0, 0, 0, 0);
    z-index: 2;
    font-size: 0;
    opacity: 0;
}
