{% if ws_activity_log_enabled() and is_granted('ROLE_WS_CORE_ACTIVITY_LOG') %}
    <a class="u-mr-20" href="{{ path('ws_activity_log_index') }}" title="{{ 'title'|trans({}, 'ws_cms_activity_log') }}">
        <i class="fal fa-history"></i>
    </a>
{% endif %}
