<div class="c-dropdown dropdown u-hidden@md--down" data-toggle="dropdown-export" data-component="ws_dropdown">
    <button class="c-btn c-btn--border has-dropdown dropdown-toggle"
            type="button"
            id="ExportDropdownButton"
            aria-haspopup="true" aria-expanded="false">
            {{ source('@WSCore/cms/icons/export.svg') }}
            {{ 'export'|trans({}, 'ws_cms') }}
    </button>
    {% block crud_export_formats %}
        <div class="c-dropdown__menu dropdown-menu dropdown-export" aria-labelledby="ExportDropdownButton">
            <a  class="c-dropdown__item dropdown-item"
                href="{{ ws_cms_path("#{route_prefix}_export", app.request.query.all) }}">
                <i class="fal fa-file-csv u-pr-5"></i> {{ 'export.csv'|trans({}, 'ws_cms') }}
            </a>
            {% block crud_export_format %}
            {% endblock %}
        </div>
    {% endblock %}
</div>
