@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

///* ========================================================================
//   #CARD
//   ======================================================================== */

$card-border-width: var(--base-border-width) !default;
$card-border-color: var(--base-border-color) !default;
$card-border-radius: var(--base-border-radius) !default;
$card-background-color: var(--base-background-color);

$card-header-padding: 1.875rem 1.563rem !default;
$card-header-background-color: var(--secondary-background-color) !default;

$card-title-font-size: var(--h5-font-size) !default;
$card-meta-color: var(--color-mute) !default;
$card-meta-font-size: var(--text-small-font-size) !default;

$card-icon-font-size: var(--h2-font-size) !default;
$card-icon-color: var(--white) !default;
$card-icon-background-color: var(--orange-400) !default;

$card-body-padding: var(--spacer) !default;
