@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

///* ========================================================================
//   #INPUTS
//   ======================================================================== */
:root {
    --input-padding: 1rem;
    --input-focus-color: var(--color-primary);
    --input-border-color: var(--grey-400);
    --input-focus-border-color: var(--color-primary);
    --input-border-width: var(--base-border-width);
    --input-border-radius: var(--base-border-radius);
    --input-font-weight: var(--font-weight-normal);
    --input-font-size: var(--text-font-size);
    --input-placeholder-color: rgba(var(--gunmetal-200), .8);
    --input-placeholder-font-weight: var(--font-weight-normal);
    --input-background-color: var(--white);
    --input-disabled-background-color: var(--grey-300);
    --input-disabled-border-color: var(--grey-400);
    --input-disabled-color: rgba(var(--gunmetal-200), .5);
    --textarea-font-weight: var(--font-weight-normal);
    --textarea-font-size: var(--text-font-size);

    // Different states: success, error
    --input-success-border-color: var(--color-success);
    --input-success-color: var(--color-success);
    --input-warning-border-color: var(--color-warning);
    --input-warning-color: var(--color-warning);
    --input-danger-border-color: var(--color-danger);
    --input-danger-color: var(--color-danger);
}
