@use 'sass:math';
@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

///* ========================================================================
//   #BUTTONS
//   ======================================================================== */

:root {
    --btn-padding: .5rem 1rem;
    --btn-border-width: var(--base-border-width);
    --btn-border-color-primary: var(--color-primary);
    --btn-border-color-primary-hover: var(--color-primary);
    --btn-border-color-secondary: var(--color-secondary);
    --btn-border-color-secondary-hover: var(--color-secondary);
    --btn-border-color-secondary-focus: var(--color-secondary);
    --btn-border-radius: var(--base-border-radius);
    --btn-font-size: .875rem;
    --btn-font-weight: var(--font-weight-normal);
    --btn-line-height: 1.5rem;
    --btn-hover-color: var(--white);
    --btn-background-color-primary: var(--color-primary);
    --btn-background-color-primary-hover: var(--color-primary);
    --btn-background-color-secondary: var(--white);
    --btn-background-color-secondary-hover: var(--color-secondary);
    --btn-background-color-secondary-focus: var(--color-secondary);

    --btn-small-font-size: var(--text-small-font-size);
    --btn-small-padding: .25rem 1.125rem;

    --btn-large-font-size: var(--text-large-font-size);
    --btn-large-padding: .5 1.875rem;

    // Disabled State
    --btn-disabled-color: rgba(var(--gunmetal-200), .5);
    --btn-disabled-background-color: var(--grey-100);
    --btn-disabled-border-color: var(--grey-300);
}
