@use '../0-settings/_settings-global' as *;

///* ========================================================================
//   #BREADCRUMB
//   ======================================================================== */


$breadcrumb-divider-color: #a1a7af;
$breadcrumb-divider-margin: 0 var(--spacer-xsmall);

$breadcrumb-item-color: #848c98;
$breadcrumb-item-active-color: var(--gunmetal-200);

