/// * ========================================================================
//   #GLOBAL
//   ======================================================================== */

// Table of Content:
// 1. Color System
// 2. Typography
// 3. Borders
// 4. Icon Fonts
// 5. Z-index System
// 6. Spacing
// 7. Breakpints

// 1. Color System
// ========================================================================== */
:root {
    --grey-100: #f5f8fa;
    --grey-200: #f2f4f7;
    --grey-300: #e6eaee;
    --grey-400: #dfe3e9;
    --grey-500: #bbc5d5;
    --grey-600: #b7c0cd;
    --grey-700: #9fa9ba;
    --grey-800: #7f8fa4;
    --gunmetal-100: #475364;
    --gunmetal-200: #354052;
    --gunmetal-300: #2d3848;
    --gunmetal-400: #273142;
    --gunmetal-500: #1d2531;
    --blue-100: #86caff;
    --blue-200: #53b2f9;
    --blue-300: #2083fe; // main
    --blue-400: #1990ea;
    --blue-500: #1a91eb;
    --green-100: #65dc52;
    --green-200: #1bb934;
    --green-300: #39b54a;
    --green-400: #34aa44;
    --green-500: #249533;
    --purple-100: #9d8fe3;
    --purple-200: #a388e3;
    --purple-300: #886ce6;
    --purple-400: #8261e6;
    --purple-500: #7d5be2;
    --red-100: #f95359;
    --red-200: #ed1c24;
    --red-300: #d35847;
    --red-400: #ed1c24;
    --red-500: #db161e;
    --orange-100: #f8c95d;
    --orange-200: #f7bf47;
    --orange-300: #fd9a18;
    --orange-400: #ff7800;
    --orange-500: #f16911;
    --white: #ffffff;
    --black: #000000;
    --color-primary: #252529;
    --color-secondary: #137d54;
    --color-default-text: #475364;
    --color-sidebar-active: var(--color-primary);

    // Common
    --color-transparent: transparent;
    --body-color: var(--color-default-text);

    // Border
    --border-color: #dadae4;
    --solid-border-color: var(--color-info);
    --solid-border-color-focus: var(--color-info);
    --cta-border-color: var(--grey-400);
    --cta-border-color-focus: var(--grey-700);

    // states
    --color-success: #137d54;
    --color-info: #0675c4;
    --color-warning: #ff9f0f;
    --color-danger: #ec0000;
    --color-mute: var(--grey-700);
    --color-help: #767676;

    // brands
    --color-facebook: #2492e4;
    --color-twitter: #00aaff;
    --color-pinterest: #e30f27;
    --color-behance: #187ac6;
    --color-dribbble: #ea4c89;
    --color-linkedin: #222222;

    // backgrounds
    --body-background-color: #eff3f6;
    --base-background-color: var(--white);
    --background-color: #f2f2f6;

    // 2. Typography
    // ========================================================================== */

    --base-font-family: 'IBM Plex Sans', sans-serif;
    --base-font-size: 1rem;
    --base-line-height: 1.5rem;

    // Font Weights
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-base: normal;

    // Paragraphs
    --text-tiny-font-size: .625rem;
    --text-small-font-size: .75rem;
    --text-font-size: .875rem;
    --text-large-font-size: 1rem;
    --text-color: var(--color-primary);
    --text-strong-color: var(--color-primary);
    --text-mark-color: var(--white);
    --text-mark-background-color: #ffff00;
    --text-mute-color: var(--color-mute);

    // Headings
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1.125rem;
    --h6-font-size: 1rem;
    --heading-margin-bottom: .5rem;
    --heading-color: var(--color-primary);
    --heading-font-weight: var(--font-weight-semibold);

    // Links
    --link-color: var(--color-default-text);
    --link-text-decoration: none;
    --link-hover-color: var(--color-default-text);
    --link-hover-text-decoration: none;

    // 3. Borders
    // ========================================================================== */
    --base-border-radius-s: 4px;
    --base-border-radius-m: 8px;
    --base-border-style: solid;
    --base-border-color: var(--grey-400);
    --base-border-width: 1px;

    // 4. Icon Fonts
    // ========================================================================== */
    --base-icon-font: 'Font Awesome 6 Pro';

    // 5. Z-index System
    // ========================================================================== */
    --z-index-100: 100; // over content
    --z-index-200: 200; // over control
    --z-index-300: 300; // over page
    --z-index-400: 400; // over screen
    --z-index-500: 500; // over everything

    // 6. Spacing
    // ========================================================================== */

    --spacer-xsmall: .625rem;
    --spacer-small: .938rem;
    --spacer: 1.875rem;
    --spacer-large: 3.125rem;
    --spacer-xlarge: 6.25rem;

    // content
    --content-spacing-xxs: .25rem;  // 4px;
    --content-spacing-xs: .5rem;   // 8px;
    --content-spacing-s: .75rem;   //12px;
    --content-spacing-m: 1rem;   //16px;
    --content-spacing-l: 1.5rem;   //24px;
    --content-spacing-xl: 2.25rem;  //36px;
    --content-spacing-xxl: 3rem; //48px;
    --content-spacing-3xl: 3.75rem; //60px;

    // border
    --border-radious-s: .25rem;  // 4px;
    --border-radious-m: .5rem;   // 8px;
    --border-radious-l: .75rem;   //12px;
    --border-radious-xl: 1rem;   //16px;

    // Layout
    --header-heigh: 47px;
    --header-sticky-heigh: 60px;
    --footer-heigh: 45px;

    // Box-Shadow
    --box-shadow-modal: 0 4px 8px rgba(16, 24, 64, .08), 0 4px 8px rgba(16, 24, 64, .08);
}

// 6. Spacing
// ========================================================================== */
$spacer-xsmall: var(--spacer-xsmall);
$spacer-small: var(--spacer-small);
$spacer: var(--spacer);
$spacer-large: var(--spacer-large);
$spacer-xlarge: var(--spacer-xlarge);

// 7. Breakpoints
// ========================================================================== */

// Use these breakpoints with media-queries to create responsive website, these
// numbers are based on Bootstrap's grid breakpoints

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-mobile: $breakpoint-sm;
$breakpoint-tablet: $breakpoint-md;
$breakpoint-desktop: $breakpoint-lg;
$breakpoint-wide: $breakpoint-xl;

// 8. Layout
// ========================================================================== */

$max-width-container: 1140;
$max-width-container-px: $max-width-container + px;
$height-navbar: 45px;
$margin-navbar: 30px;
$height-toolbar: 80px;
$height-pagination: 30px;
$height-footer: 130px;
