@use '../0-settings/_settings-global' as *;

///* ========================================================================
//   #NAV
//   ======================================================================== */


$nav-item-margin: 0 40px 0 0 !default;


$nav-link-color: #9fa9ba !default;
$nav-link-active-color: var(--link-color);
$nav-link-font-size: var(--text-font-size) !default;
$nav-link-font-weight: var(--font-weight-normal) !default;


// Nav toggle (hamburger icon)
$nav-toggle-width: 30px !default; // [1] same as bar's width
$nav-toggle-height: 30px !default;

// Nav toggle bar
$nav-toggle-bar-width: 30px !default; // [1] same as icon's width
$nav-toggle-bar-height: 4px !default;
$nav-toggle-bar-border-radius: var(--base-border-radius) !default;
$nav-toggle-bar-background-color: var(--gunmetal-200) !default; // the opposite of the background color

