@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

///* ========================================================================
//   #ALERTS
//   ======================================================================== */


$alert-margin: 0 0 rem(15) 0 !default;
$alert-padding: rem(12) rem(32) rem(12) rem(12) !default;
$alert-border-radius: $base-border-radius !default;
$alert-color: $white !default;

$alert-close-top: rem(12) !default;
$alert-close-right: rem(16) !default;

$alert-icon-margin-right: rem(10) !default;
$alert-icon-font-size: rem(18) !default;
$alert-icon-opacity: 0.7 !default;

$alert-success-background-color: $color-success !default;
$alert-info-background-color: $color-info !default;
$alert-warning-background-color: $color-warning !default;
$alert-danger-background-color: $color-danger !default;
