@use '../0-settings/_settings-global' as *;

///* ========================================================================
//   #DIVIDER
//   ======================================================================== */

$divider-color: var(--grey-800) !default;
$divider-font-size: var(--text-small-font-size) !default;
$divider-font-weight: var(--font-weight-normal) !default;

$divider-line-height: 1px !default;
$divider-line-background-color: var(--grey-400) !default;

