@use '../0-settings/_settings-global' as *;

///* ========================================================================
//   #TABLES
//   ======================================================================== */

$table-border-width: 1px;
$table-border-color: #e6eaee;
$table-border-radius: var(--base-border-radius-s);
$table-background-color: var(--white);
$table-title-background-color: #ffffff;
$table-title-color: var(--heading-color);

$table-head-slim-background-color: #f5f8fa;
$table-head-cell-padding: 10px 0 10px 30px;

$table-cell-padding: 20px 0 20px 30px;
$table-cell-color: var(--text-color);
$table-cell-font-size: var(--text-font-size);
$table-cell-font-weight: var(--font-weight-semibold);
$table-zebra-row-background-color: rgba($table-border-color, .3);
$table-highlight-row-background-color: rgba($table-border-color, .3);
