@use '../0-settings/_settings-global' as *;

///* ========================================================================
//   #DIVIDER
//   ======================================================================== */

$divider-color: var(--grey-800);
$divider-font-size: var(--text-small-font-size);
$divider-font-weight: var(--font-weight-normal);

$divider-line-height: 1px;
$divider-line-background-color: var(--grey-400);

