@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

///* ========================================================================
//   #FIELD
//   ======================================================================== */


// Field
$field-margin: 0 0 1.25rem 0 !default;

// Field label
$field-label-font-weight: var(--font-weight-medium) !default;
$field-label-font-size: var(--text-font-size) !default;
$field-label-color: #38383d !default;
$field-label-margin: 0 0 .75rem 0 !default;

// Field addon
$field-addon-width: 2.625rem !default;
$field-addon-border-width: var(--base-border-width) !default;
$field-addon-border-color: var(--grey-400) !default;
$field-addon-color: #ced0da !default;
$field-addon-gradient: #ffffff, #f2f4f7 !default;

// Field icon
$field-icon-color: #ced0da !default;
$field-icon-font-size: 1.125rem !default;

// Field message
$field-message-margin: 0 .313rem 0 0 !default;
$field-message-padding: 0 !default;

$field-message-color: var(--text-color) !default;
$field-message-font-size: var(--text-small-font-size) !default;
