@use '../0-settings/_settings-global' as *;

///* ========================================================================
//   #TOOLBAR
//   ======================================================================== */

$toolbar-padding: 20px 30px;
$toolbar-background-color: var(--base-background-color);
$toolbar-border-color: #e6eaee;
$toolbar-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .07);

$toolbar-title-color: var(--heading-color);
$toolbar-title-font-size: 18px;

$toolbar-divider-width: 1px;
$toolbar-divider-height: 15px;
$toolbar-divider-margin: 0 13px;
$toolbar-divider-background-color: #dfe3e9;

$toolbar-meta-font-size: 14px;
$toolbar-meta-color: #7f8fa4;

$toolbar-icon-color: #ced0da;
$toolbar-icon-font-size: 18px;

$toolbar-link-color: #7f8fa4;
$toolbar-link-font-size: 14px;




