@use '../0-settings/_settings-global' as *;
@use '../1-tools/_tools-mixin-rem' as *;

///* ========================================================================
//   #FIELD
//   ======================================================================== */

:root {
    // Field
    --field-margin: 0 0 1.25rem 0;

    // Field label
    --field-label-font-weight: var(--font-weight-medium);
    --field-label-font-size: var(--text-font-size);
    --field-label-color: #38383d;
    --field-label-margin: 0 0 .75rem 0;

    // Field addon
    --field-addon-width: 2.625rem;
    --field-addon-border-width: var(--base-border-width);
    --field-addon-border-color: var(--grey-400);
    --field-addon-color: #ced0da;
    --field-addon-gradient: #ffffff, #f2f4f7;
    --field-addon-font-size: .875rem;

    // Field icon
    --field-icon-color: #ced0da;
    --field-icon-font-size: 1.125rem;

    // Field message
    --field-message-margin: 0 .313rem 0 0;
    --field-message-padding: 0;

    --field-message-color: var(--text-color);
    --field-message-font-size: var(--text-small-font-size);
}
