@use '../0-settings/_settings-global' as *;

///* ========================================================================
//   #TABLES
//   ======================================================================== */

$table-border-width: 1px !default;
$table-border-color: #e6eaee !default;

$table-border-radius: var(--base-border-radius) !default;
$table-background-color: var(--white) !default;

$table-title-background-color: #ffffff;
$table-title-color: var(--heading-color);


$table-head-slim-background-color: #f5f8fa !default;
$table-head-cell-padding: 10px 0 10px 30px !default;


$table-cell-padding: 20px 0 20px 30px !default;
$table-cell-color: var(--text-color) !default;
$table-cell-font-size: var(--text-font-size) !default;
$table-cell-font-weight: var(--font-weight-semibold) !default;

$table-zebra-row-background-color: rgba($table-border-color, .3) !default;
$table-highlight-row-background-color: rgba($table-border-color, .3) !default;
