@use '../0-settings/_settings-global' as *;

///* ========================================================================
//   #CHOICE
//   ======================================================================== */


// Choice (shared settings between checkboxes and radios)
$choice-margin: 0 0 .938rem 0 !default;
$choice-color: var(--gunmetal-200) !default;

$choice-font-size: var(--text-font-size) !default;
$choice-font-weight: var(--font-weight-normal) !default;

$choice-disabled-color: rgba(#354052, .5) !default;
$choice-disabled-border-color: var(--grey-400) !default;
$choice-disabled-background-color: var(--grey-300) !default;

$choice-input-margin: 0 .5 0 0 !default;
$choice-input-border-width: var(--base-border-width) !default;
$choice-input-border-color: var(--grey-500) !default;
$choice-input-background-color: var(--white) !default;
$choice-input-color: var(--white) !default;

// Checkbox
$choice-checkbox-border-radius: 4px !default;
$choice-checkbox-border-color: var(--green-400) !default;
$choice-checkbox-background-color: var(--green-300) !default;

// Radio button
$choice-radio-border-width: 4px !default;
$choice-radio-border-color: var(--green-300) !default;
$choice-radio-background-color: var(--white) !default;
$choice-radio-shadow-width: 1px !default;
$choice-radio-shadow-color: var(--green-400) !default;
