@use '../0-settings/_settings-global' as *;

///* ========================================================================
//   #NOTIFICATIONS
//   ======================================================================== */

$notification-icon-color: var(--color-mute);
$notification-icon-font-size: 20px;

$notification-number-width: 20px;
$notification-number-height: 20px;

$notification-number-padding: 0 5px;
$notification-number-border-radius: 20px;

$notification-number-background-color: #ff7800;
$notification-number-color: var(--white);
$notification-number-font-size: var(--text-small-font-size);
$notification-number-line-height: 20px;
